<%- include("partials/header"); -%>

  <h1 class="text-3xl font-bold text-center my-8 custom-gray-color">Projects</h1>

  <div class="row justify-content-center align-items-stretch">
    <div class="col-md-6">
      <div class="card m-2 h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Parking Lot Management</h5>
          <p class="card-text">
            • Created wireframes, including UI flow diagrams, ERD, and Class diagrams, to visualize the application
            layout and flow.<br>
            • Utilized various front-end technologies like ReactJS, Axios, Redux, Tailwind, React Router, and Bootstrap
            for efficient and effective application development.<br>
            • Built the backend system utilizing Spring Boot and RESTful Web services to create endpoints for APIs,
            which can efficiently handle front-end application requests.<br>
            • Achieved 100% test coverage and ensured high-quality application development using Jest, JUnit, and
            Postman for API testing.<br>
            • Maintained efficient version control using Git and GitHub to streamline collaboration among team
            members.<br>
            • Deployed the frontend using Firebase and deployed the backend and MySql database using Railway for
            improved application performance.<br>
            • Contributed to all aspects of the agile software development lifecycle, including design, architecture,
            development, documentation, testing, and deployment, for efficient and successful application development.
          </p>
          <div class="mt-auto">
            <div class="d-flex justify-content-center">
              <a href="https://github.com/52147/CS673-Project-Fronted"
                class="btn btn-outline-secondary mr-2 align-self-center">Parking Lot Management Frontend</a>
              <a href="https://github.com/52147/CS673-Project-Backend"
                class="btn btn-outline-secondary align-self-center">Parking Lot Management Backend</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card m-2 h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Diamond Tofu Careers</h5>
          <p class="card-text">
            • Designed and implemented a RESTful career site that displays job listings, enables job seekers to submit
            applications, and allows administrators to manage job applications.<br>
            • Developed the frontend using React to consume RESTful endpoints and display job listings for improved user
            experience.<br>
            • Deployed the application on the Google Cloud Platform for scalability and reliability.<br>
            • Utilized the Firebase Admin SDK to perform CRUD operations on the Firebase Firestore database for secure
            and scalable data storage and retrieval.<br>
            • Designed and created a system flow chart and UI flow diagram to identify and address ambiguous business
            problems, ensuring the website meets user needs and functions as intended.
          </p>
          <div class="mt-auto">
            <div class="d-flex justify-content-center">
              <a href="https://github.com/52147/Diamond-Tofu-Careers-Client"
                class="btn btn-outline-secondary mr-2 align-self-center">Diamond Tofu Careers Client</a>
              <a href="https://github.com/52147/Diamond-Tofu-Careers-Server"
                class="btn btn-outline-secondary align-self-center">Diamond Tofu Careers Server</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>