<%- include("partials/header"); -%>
<h1>About</h1>
<p> <%= aboutContent %> </p>
<div class="a">
    <div class="row">
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Blog Web</h5>
                    <p class="card-text">A full-stack project that applied node.js to connect the front-end and database
                        to store the article created by author thorugh web.</p>
                    <a href="https://github.com/52147/Personal-Blog-Web" class="btn btn-outline-secondary">Go see
                        project</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">To-do list Web</h5>
                    <p class="card-text">A full-stack project that can store the user input, implement
                        the add, delete, update function with node.ejs and mongoDB .</p>
                    <a href="https://github.com/52147/ToDo-List-Website" class="btn btn-outline-secondary">Go see
                        project</a>
                </div>
            </div>
        </div>
    </div>
    <div class="b"></div>
    <div class="row">

        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cache Simulation</h5>
                    <p class="card-text">A Java program that simulate the function that processor request data in
                        the cache
                        when data is initially in it or not.</p>
                    <a href="https://github.com/52147/Cache-Simulation" class="btn btn-outline-secondary">Go see
                        project</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shopping Cart</h5>
                    <p class="card-text">A Java project that developed the function that user can add, delete item
                        and calculate the budget for user by using item's priority.</p>
                    <a href="https://github.com/52147/Shopping-List" class="btn btn-outline-secondary">Go see
                        project</a>
                </div>
            </div>
        </div>



    </div>
</div>
<%- include("partials/footer"); -%>